In [2]:
print("hola \ncaca") #Comentariooo
nombre="yeismil"
num= 100
decimal= 11.5
print(nombre)
print(num)
print(nombre, num, "pepe", sep='-')#El sep como puedes ver hace que se separe todo en los guiones

hola
caca
yeismil
100
yeismil-100-pepe

In [91]:
str(decimal)

'11.5'

In [92]:
int(decimal)

11

In [4]:
cadena= "Paco es retrasado"
cadena[::-1]

'odasarter se ocaP'

In [94]:
cadena[-1]#Aqui solo aparece la o de 'paco es retrasado por que la ultima o es el menos 1'

'o'

In [1]:
cadena[0:4]#Con esta combinación solo imprimimos paco porque

NameError: name 'cadena' is not defined

In [5]:
cadena[0:4]+ cadena[7:]#La posicion 7 escribe retrasado porque contamos de izquierda a derecha hasta el 7 e imprime lo que queda a la derecha de la frase

'Paco retrasado'

In [97]:
list(cadena)#Esto imprime lo que ves tmbn se puede poner list[cadena], y lo imprime todo junto

['P',
 'a',
 'c',
 'o',
 ' ',
 'e',
 's',
 ' ',
 'r',
 'e',
 't',
 'r',
 'a',
 's',
 'a',
 'd',
 'o']

In [81]:
not True #Esto da FALSE
not True== False #Esto da TRUE
True== False #Esto da FALSE
0==False #Esto da TRUE
True *3==3 #Esto da true

True

In [101]:
num> 5 and num< 101

True

In [104]:
nombre== "Maria" or "Luis" or "Pedro" #Da el del medio siempre porque true es 1,  si quiero q seleccione uno en si poner antes nombre="Maria" por ej

'Luis'

In [105]:
usuario= input("Dime tu nombre")
usuario *3 #Asi me lo pone 3 veces, si quito el 3 pues me lo escribe solo 1 vez

'yeisyeisyeis'

In [108]:
usuario= int(input("Dime tu edad"))
usuario *3 #He convertido lo que pongo en un int y ahora si que se puede multiplicar

20

In [128]:
for c in "Paco": #Pongo c pero puedo poner cualquier cosa el for lo guarda en lo q ponga
    print(c)

P
a
c
o

In [129]:
Lista=["Pepe", 100, [10,20,30]]

In [130]:
Lista[1] #Se imprime el 100 porque el 0 es pepe y el 1 es 100 y el 2 pues lo que hay dentro de []

100

In [134]:
Lista[2]

[10, 20, 30]

LISTA INTERDIMENSIONAL

In [135]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l1+l2

[1, 2, 3, 4, 5, 6]

ARRAY INTERDIMENSIONAL

In [166]:
liston=[l1,l2,l3]

In [138]:
liston[1][1] #Imprime el 5 por que lo sacamos de la lista 2 que es el primer 1 y el 1 es el 5 por que el 4 esta en la posición 0

5

In [139]:
liston[1][1]=50 #Aqui se cambiaria el 5 por el 50

In [140]:
for l in l1:
    print(l)

1
2
3

In [151]:
for uii in liston:
    for e in uii: #el uii tiene las 3 listas y luego en e leemos lo que hay dentro de las listas,arriba directamente fui a la lista l1 aqui teniamos que utilizar liston
        print (e)

1
2
3
4
50
6
7
8
9

In [ ]:
for n in range(1,50): #Esto es hasta 49 porque la primera posicion es 0
    print (n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [154]:
for o in range(1,50,5): #Con esto va de 5 en 5
    print(o)

1
6
11
16
21
26
31
36
41
46

PRIMERA TABLA DE MULTIPLICAR

In [165]:
num=int(input("Dime que tabla de multiplicar quieres: "))
for t in range(1,11): #Esto es para que multiplique numeros solo del 1 al 10 otra manera que lo hize fue= for t in range(num,num*11,num):
    print (num,"x",t,"=",num*t)
print("Se acabó") #si el print lo metiese mas alante estaria dentro del for y lo pondria todo el rato

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Se acabó

programa que tenga 9 sitios 3 listas.. y que se pida un nombre y se vaya poniendo

In [8]:
matriz=[["","",""],["","",""],["","",""]]
for n in range(0,len(matriz)):  #en la n y la i estoy guardndo las cordenadas
    for i in range(0,len(matriz[0])):
        if matriz[n][i]=='':
            matriz[n][i]=input("Nombre: ")

In [ ]:
list=[[],[],[]]

for n in range(0,10):
    nom=str(input("Dime un nombre: "))
    list.append(nom) #El append solo añada alfinal por eso no se me entra dentro
print(list)
    #me falta que cada 3 nombres esten dentro de una celda

In [11]:
list1=[]
list2=[]
list3=[]
listentera=[list1,list2,list3]

for n in range(1,4):
    nom=str(input("Dime un nombre: "))
    list1.append(nom)
listentera.append(list1)

for n in range(1,4):
    nom=str(input("Dime un nombre: "))
    list2.append(nom)
listentera.append(list2)

for n in range(1,4):
    nom=str(input("Dime un nombre: "))
    list3.append(nom)
listentera.append(list3)

for j in listentera:
    print(j)

['aa', 'ss', 'dd']
['ff', 'gg', 'hh']
['jj', 'kk', 'll']
['aa', 'ss', 'dd']
['ff', 'gg', 'hh']
['jj', 'kk', 'll']